html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, blue, darkblue);
    background-size: 100% 200%;
    animation: gradienteAnim 5s linear infinite;
}

@keyframes gradienteAnim {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 0% 100%;
    }
}
#navbar {

}

.tarefa {
    background-color:white;
    padding:10px;
    margin:10px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav-titulo {
    color: white;
}

.botaoperso {
    text-decoration:none;
    background: yellow;
}
.botaoperso:hover {
    background: white;
    border: 4px solid yellow;
}


.titulo-body {
    align-items:center;
    align-self:center;
    text-align:center;
    text:center;
    color: white;
    font-size: 2.5em;
    text-shadow: 3px 3px #558abb;
}

#criarTarefa, #editarTarefa {
    color:white;
}
